body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:cadetblue;
    color: #333;
    /* background-image: url("https://wallpapertag.com/wallpaper/full/e/e/e/405846-coding-wallpaper-2000x1080-for-android.jpg"); */
    background-repeat: repeat-y;
    background-position: center top;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
.footer {
    text-align: center;
    background-color:black;
    color: #fff;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
    border: #333;
    border-style: solid;
    padding: 10px;
}
section
{
    font-size: 20px;
}
.contact
{
    border-style: solid;
    border-color: black;
}
img 
{
    border-style: solid;
    border-color: black;
    border-radius: 87.5px;
    width: 175px;
    height: 175px;
}
body
{
    background-color:aliceblue;
}
.skills
{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 19px;
    font-size: 26px;
}
.web
{
    margin: 0;
    
    font-size: 35px;
}
.about
{
    font-size: 35px;
    padding: 10px;
    margin: 7px;
}
.about_info
{
    font-size: 20px;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}
.about-me
{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}
.skill
{
    font-size: 40px;
    margin-bottom: 12px;
}

.mobile{
    text-align: center;
}
.sico{
    padding: 4px;
    margin: 5px;

    display: flex;
    flex: 1;
    flex-direction:row;
    justify-content: space-evenly;
}
h1{
    margin: 0;
}
